[core]
	editor = nvim
  pager = less -x4
[user]
	name = Kevin
	email = kevinfrilot@icloud.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /private/tmp
