"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false
palette = "catppuccin_mocha"
command_timeout = 1000

format = """$directory$character"""
right_format = """$all"""

[character]
success_symbol = '[➜](bold green)'
error_symbol = '[✗](bold red)'
vimcmd_symbol = '[](green)'

[directory]
truncation_symbol = '…/'
fish_style_pwd_dir_length = 1
repo_root_style = 'bold cyan'

[cmd_duration]
min_time = 2_000
show_notifications = true
min_time_to_notify = 45_000

[status]
disabled = false
pipestatus = true

[git_branch]
format = '[$symbol$branch(:$remote_branch)]($style) '

[git_status]
format = '([$all_status$ahead_behind]($style) )'

[git_metrics]
disabled = false

[direnv]
disabled = false
format = '[$symbol$allowed]($style) '
symbol = '▲ '

[time]
disabled = false
format = '[$time]($style) '
time_format = '%H:%M'

[aws]
format = '[$symbol(profile: "$profile" )(\(region: $region\) )]($style)'
disabled = false
style = 'bold blue'
symbol = " "

[golang]
format = '[ ](bold cyan)'

[nodejs]
format = '[$symbol($version )]($style)'
symbol = ' '

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
